 *{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 
}
 body { 
 background: #fff;
 justify-content: center;
 align-items: center;
 display: flex;
 min-height: 100vh;
}
 .mobile{
 background: #555;
 width: 300px;
 height: 500px;
 border-radius: 20px;
 justify-content: center;
 align-items: center;
 display: flex;
 
}
 .screen{
 background: #eee;
 width: 250px;
 height: 390px;
 justify-content: center;
 display: flex;
 align-items: center;
 
}
 .button{
 background: #333;
 width: 40px;
 height: 40px;
 border-radius: 50px;
 transform: translateY(223px);
 
}
